body {
    background:
        url('/img/fish_side1_orange.svg'),
        url('/img/fish_side2_orange.svg'),
        linear-gradient(to right, Black, Black);
    background-repeat:
        repeat-y,
        repeat-y;
    background-position:
        left top,
        right top;
}

div.title-area {
    margin-top: 25px;
    margin-left: 80px;
}

h2.title-text {
    text-align: left;
    /* color: dimgrey; */
    /* color: WhiteSmoke; */
    color: PapayaWhip;
    /* color: White; */

}

div.content-area {
    margin-top: 10px;
    margin-left: 120px;
    line-height: 1.6;
    font-size: 20px;
    /* color: grey; */
    color: OldLace;
    /* color: WhiteSmoke; */
}

div.content-area a {
    color: salmon;
}

div.content-area a:hover {
    color: OrangeRed;
}

div.content-area a:focus {
    color: Red;
}

h4 {
    display: inline;
}

ul.content {
    margin-top: 0;
    padding-inline-start: 30px;
}

li.content {
    /* line-height: 1; */
    /* padding: -5px -50px; */
    list-style-type: none;
}

.right-edge {
    position: fixed;
    right: 80px;
    /* opacity: 0.4; */
}

.left-edge {
    position: fixed;
    left: 25px;
    /* opacity: 0.4; */
}
