.nav-link {
    color: Orange !important;
}
.nav-link:hover {
    color: Salmon !important;
}
.nav-link:focus {
    color: OrangeRed !important;
}

.navbar-brand {
    color: DarkOrange !important;
}

.navbar-brand:hover {
    color: OrangeRed !important;
}

/*
.nav-fish:hover {
    color: OrangeRed;
    animation: rotate 0.7s;
    animation-iteration-count: infinite;
} */

.nav-fish.rotate {
    /* color: OrangeRed; */
    animation: rotate 0.7s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(36deg); }
  20% { transform: rotate(72deg); }
  30% { transform: rotate(108deg); }
  40% { transform: rotate(144deg); }
  50% { transform: rotate(180deg); }
  60% { transform: rotate(216deg); }
  70% { transform: rotate(252deg); }
  80% { transform: rotate(288deg); }
  90% { transform: rotate(324deg); }
  100% { transform: rotate(360deg); }
}
